nugets
build
build32
binaries
obj
bin
*.vshost.*
.nu
_ReSharper.*
_UpgradeReport.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.user
TestResults
TestResult.xml
results
CommonAssemblyInfo.cs
lib/sqlite/System.Data.SQLite.dll
*.orig
Samples/DataBus/storage
packages
PrecompiledWeb
*.wadcfg
core-only
Release
Artifacts
LogFiles
csx
*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
logs
run-git.cmd

*.jtconfig
NugetBuild
*.received.*

.vs/
src/Tests/DirectoryMarkdownProcessor/Convention/one.md
src/Tests/DirectoryMarkdownProcessor/Convention/two.md
src/Tests/DirectoryMarkdownProcessor/ReadOnly/one.md
src/Tests/DirectoryMarkdownProcessor/UrlSnippetMissing/one.md
src/Tests/DirectoryMarkdownProcessor/UrlSnippet/one.md
src/Tests/DirectoryMarkdownProcessor/UrlIncludeMissing/one.md
src/Tests/DirectoryMarkdownProcessor/UrlInclude/one.md
